/*=======
normalize, clearfix and borderbox
=======*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*=======
styles for initial wireframe
=======*/

body {
	font-family: 'Open Sans', sans-serif;
	color: #4A3C32;
	font-weight: 800;
    overflow: hidden;
}

.main-wrapper {
	width:100vw;
	height:100vh;
}

/*header styles*/

header {
	width:100vw;
	height:11.5vh;
	position: relative;
	background: #7E0F11;
	box-shadow: 0 0 2vh rgba(0,0,0,0.3);
}

.back-drop {
  position: relative;
  width:100vw;
  height:100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; 
}

.header-images {
	width:100vw;
	height:11.5vh;
	z-index: 2;
}

.IU-logo {
	position: absolute;
	top:2.2vh;
	left:11.9vw;
    z-index: 5;
}

.IU-name {
	position: absolute;
	top:4.5vh;
	left:26.1vw;
    z-index: 5;
}


/*list styles*/

.list-area {
	width:100vw;
	height:77vh;
	padding:0 3.5vw;

}

.list-area img {
  position: absolute;
  width:100vw;
  height:77vh;
  top: 11.5vh;
  left: 0;
  right: 0;
  z-index: -1; 
  opacity:.2;
}

.donor-list {
	margin: 0;
	padding:0;
	list-style: none;
}

.donor-entry {
	width:93vw;
	height:3.1vh;
	padding-top: 0.5vh;
	border-bottom: 1px solid #D6D3D1;
}

.donor-name {
	margin: 0;
	font-size: 2.5vw;
}

.search-button {
	height:6.1vh;
	width:6.1vh;
	position: absolute;
	right:2vw;
	top:46.5vh;
	border-radius: 50%;
	background-color: #7E0F11;
	box-shadow: 0 0 1vh rgba(0,0,0,0.3);
    z-index: 3;
}

.search-icon {
  height: 2.8em;
  width: 2.8em;
  display: block;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  right:25px;
  bottom:23px;
}

.circle {
  position: relative;
  display: block;
  height: 45px;
  width: 45px;
  background-color: #7E0F11;
  top:22px;
  left:10px;
  border-radius: 50%;
  z-index: 0;
  border: 7px solid white;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 1.7, 0.35, 0.8);
          transition: all 0.6s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: 1;
  display:none;
}

.handle {
  position: absolute;
  background-color: white;
  top: 60px;
  left: 14px;
  width: 70px;
  height: 8px;
  display: block;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  float: right;
  border-radius: 2px;
}
.handle:after {
  content: "";
  background-color: white;
  width: 70px;
  height: 8px;
  display: block;
  float: right;
  border-radius: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 1.7, 0.35, 0.8);
          transition: all 0.6s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
  /*=======
  remove for final version
  =======*/
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
/*=======*/
}

/*.open .circle {
  -webkit-transform: scale(0.02);
      -ms-transform: scale(0.02);
          transform: scale(0.02);
  -webkit-transform-origin: 30% 40%;
      -ms-transform-origin: 30% 40%;
          transform-origin: 30% 40%;
  background: white;
  border-color: white;
}*/
/*.open .handle:after {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}*/


/* details styles */
.details-card {
  position: absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  left:7.5%;
  min-height:1000px;
  height:auto;
  width: 85%;
  padding-bottom: 40px;
  overflow: hidden;
  background: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 4px;
  z-index: 2;
}

.details-header {
  position: relative;
  top: 0;
  left: 0;
  min-height:240px;
  height:auto;
  width:100%;
  padding-bottom: 40px;
  background-color: #4a3c31;
}

.details-name {
  display: inline-block;
  position: relative;
  line-height: 8vw;
  font-size: 6vw;
  font-weight: 300;
  padding-top:2vw;
  padding-bottom:1vw;
  margin:0 64px;
  color:#fff;
}

.details-name:before {
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  height:2px;
  width:100px;
  background-color: #B1953A;
}

.degree-column {
  float:right;
  width:60%;
  height:auto;
}

.details-degree {
  margin: 0;
  margin:40px 64px;
  font-size: 3vw;
  line-height: 3.5vw;
  font-weight: 300;
}

.details-image {
  float: left;
  max-width: 40%;
  margin:40px 0px 40px 64px;
}

.details-societies {
  position: relative;
  top:0px;
  min-width: 86%;
  width:86%;
  height:265px;
  margin:0 64px;
  padding: 0px;
  float: left;
}

.details-societies:before {
  content:"";
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:1px;
  background-color: rgba(160,160,160,0.8);
}

.details-societies img {
  width: 200px;
  margin: 50px;
}

.details-societies img:first-of-type {
  margin-left: 0px;
  margin-right: 40px;
}

.details-societies img:last-of-type {
  margin-right: 0px;
  margin-left: 40px;
}

/*footer styles*/

footer {
	width:100vw;
	height:11.5vh;
	position: relative;
	background-color: #7E0F11;
	z-index: 2;
	box-shadow: 0 0 2vh rgba(0,0,0,0.3);
}

